{:paths   ["src"]
 :deps    {org.clojure/clojure        {:mvn/version "1.10.1"}
           org.clojure/clojurescript  {:mvn/version "1.10.764"}
           org.clojure/data.fressian  {:mvn/version "0.2.1"}
           com.cognitect/transit-clj  {:mvn/version "0.8.319"}
           com.cognitect/transit-cljs {:mvn/version "0.8.256"}
           fress/fress                {:mvn/version "0.3.2"}
           org.clojure/tools.cli     {:mvn/version "1.0.206"}}
 :aliases {:cljs   {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.10.21"}
                                  binaryage/devtools   {:mvn/version "1.0.2"}}
                    :extra-paths ["test"]}
           :test   {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.641"}
                                  io.github.cognitect-labs/test-runner {:git/tag "v0.5.0"
                                                                        :git/sha "48c3c67"}}
                    :extra-paths ["test"]}
           :build  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.6.6"
                                                                   :git/sha "171d5f1"}
                                 borkdude/gh-release-artifact     {:git/url "https://github.com/borkdude/gh-release-artifact"
                                                                   :sha     "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}
                                 babashka/babashka.curl           {:mvn/version "0.1.1"}
                                 babashka/fs                      {:mvn/version "0.1.2"}
                                 cheshire/cheshire                {:mvn/version "5.10.1"}}
                    :ns-default build}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts  ["-m" "cljfmt.main" "check"]}}}
